<h1>Articles#index</h1>
<% @articles.each do |art| %>
    <h2> <%= link_to art.title, art %></h2>
    <p> <small><%= art.created_at.strftime("%d-%m-%Y") %></small></p>
    <p> <%= art.content.truncate_words(30) %></p>
<%end%>

<%= will_paginate @articles %>